*{
    margin: 0;
    padding: 0;
}

.index-body{
    width: 100%;
    height: 100vh;
    background-image: url(../web-images/furnity-index-background.jpeg);
    background-size: cover;
    background-repeat: no-repeat;

}

.index-nav {
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    overflow: hidden;
}

nav ul{
    list-style-type: none;
    float: right;
    margin: 7px;
}

nav ul li{
    display:inline-block;

}

nav ul li a{
    text-decoration: none;
    padding: 20px 35px;
    text-align: center;
    color: #fff;
    display: block;
    font-weight: 700;
}

.furnity-logo{
    float: left;
    padding: 10px;

}

.index-h1{
    margin-bottom: 30px;
    color: #db5c00;
    text-align: center;
    margin-top: 50px;
}

.index-table{
    width: 80%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

th{
    height: 30px;
    color: #db5c00;
}

td{
    text-align: center;
    height: 50px;
    vertical-align: bottom;
}

.index-search{
    margin: 0 auto;
    width:300px;
}