<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <title>Furnity Home</title>
  <link rel="stylesheet" href="../static/index.css">
</head>

<body class="index-body">

  <nav class="index-nav">
    <div class="furnity-logo">
      <img src="../static/furnity-final-logo.png" >
    </div>

    <p th:text="${user}"></p>

    <form method="post" th:action="@{/logout}" th:if="${user!='anonymous'}">
      <input type="submit" value="logout">
    </form>

    <ul>
      <li> <a href="http://localhost:8080">Home</a> </li>
      <li> <a href="http://localhost:8080/login" >Login</a> </li>
      <li> <a href="http://localhost:8080/registration" >Register/SignUp</a> </li>
      <li> <a href="#" >Contact</a> </li>
    </ul>
  </nav>

</body>

</html>