<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Item</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
            crossorigin="anonymous"/>

</head>
<body>
<div class="container text-center">
    <div>
        <h1>Create New Item</h1>
    </div>

    <form th:action="@{/item/save}" method="POST" th:object="${item}"
          style="max-width: 600px; margin: 0 auto" enctype="multipart/form-data">

        <div class="form-group row">
            <label class="col-form-label col-sm-4">Item Category : </label>
            <div class="col-sm-8">
                <select th:field="*{category}" class="form-control" required>
                    <th:block th:each="cat : ${categoryList}">
                        <option th:text="${cat.name}" th:value="${cat.id}"/>
                    </th:block>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-sm-4">Item Name: </label>
            <div class="col-sm-8">
                <input type="text" th:field="*{name}" class="form-control" required/>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-sm-4">Item description: </label>
            <div class="col-sm-8">
                <input type="text" th:field="*{description}" class="form-control"
                       required/>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-sm-4">Item price: </label>
            <div class="col-sm-8">
                <input type="number" th:field="*{price}" class="form-control"
                       required/>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-sm-4">Item Condition : </label>
            <div class="col-sm-8">
                <select th:field="*{itemCondition}" class="form-control" required>
                    <option
                            th:each="cond: ${T(com.furnity.furnity.enums.ItemCondition).values()}"
                            th:value="${cond}" th:text="${cond}"></option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-sm-4">Item Color : </label>
            <div class="col-sm-8">
                <select th:field="*{itemColor}" class="form-control" required>
                    <option
                            th:each="itemColor : ${T(com.furnity.furnity.enums.ItemColor).values()}"
                            th:value="${itemColor}" th:text="${itemColor}"></option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-sm-4">Item Material : </label>
            <div class="col-sm-8">
                <select th:field="*{itemMaterial}" class="form-control" required>
                    <option
                            th:each="materialOpt : ${T(com.furnity.furnity.enums.ItemMaterial).values()}"
                            th:value="${materialOpt}" th:text="${materialOpt}"></option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-form-label col-sm-4">Item Style : </label>
            <div class="col-sm-8">
                <select th:field="*{itemStyle}" class="form-control" required>
                    <option
                            th:each="styleOpt : ${T(com.furnity.furnity.enums.ItemStyle).values()}"
                            th:value="${styleOpt}" th:text="${styleOpt}"></option>
                </select>
            </div>
        </div>

        <div class="form-group row">
            <label for="furniture_photo" class="col-form-label col-sm-4">Upload Furniture
                Photo : </label>
            <div th:if="${item.file != null}">
                <img alt="" th:src="@{${'/img/' + item.file}}" style="width: 100px;height: 100px;"/>
            </div>
            <div class="col-sm-8">
                <input type="file" class="form-control" id="furniture_photo"
                       name="filename" accept="image/png, image/jpeg"/>
            </div>
        </div>

        <div class="text-center p-3">
            <input type="hidden" name="id" th:field="*{id}"/>
            <input type="hidden" name="file" th:field="${item.file}"/>
            <button type="submit" class="btn btn-primary">SAVE</button>
        </div>

    </form>
</div>
</body>
</html>