<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Furnity - Login</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../static/css/login.css" th:href="@{/css/login.css}" />
</head>

<body class="login-body">

<nav class="login-nav">
    <div class="furnity-logo">
        <img th:src="@{../static/web-images/furnity-final-logo.png}">
    </div>
    <ul>
        <li> <a href="http://localhost:8080">Home</a> </li>
        <li> <a href="http://localhost:8080/login" >Login</a> </li>
        <li> <a href="http://localhost:8080/registration" >Register/SignUp</a> </li>
        <li> <a href="http://localhost:8080/item/new">SELL</a> </li>
    </ul>
</nav>

<form class="login-form" th:action="@{/login}" method="post">
    <h1 class="login-h1">Login</h1>
    <input class="login-input" type="text" name="username" placeholder="Email">
    <input class="login-input" type="password" name="password" placeholder="Password">
    <button class="login-button" type="submit" value="login">LOGIN</button>
</form>

</body>

</html>