<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>

<body>

    <h2>Login Page</h2>

    <form method="post" th:action="@{/login}">

        Username/ Email <label>
                            <input type="text" name="username"/>
                        </label>

        Password <label>
                    <input type="text" name="password"/>
                </label>

        <input type="submit" value="login">

    </form>
    <br>

</body>

</html>