<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Furnity - SignUp</title>
    <link rel="stylesheet" type="text/css" media="all"
          href="../css/registration.css" th:href="@{/css/registration.css}" />
</head>

<body class="registration-body">

    <nav class="registration-nav">
        <div class="furnity-logo">
            <img th:src="@{../img/furnity-final-logo.png}">
        </div>
        <ul>
            <li> <a href="http://localhost:8080">Home</a> </li>
            <li> <a href="http://localhost:8080/login" >Login</a> </li>
            <li> <a href="http://localhost:8080/registration" >SignUp</a> </li>
            <li> <a href="http://localhost:8080/item/new" >SELL</a> </li>
        </ul>
    </nav>

    <form class="registration-form" th:action="@{/registration}" method="post">
        <h1 class="registration-h1">SignUp</h1>
        <input class="registration-input" type="text" name="firstName" placeholder="First name">
        <input class="registration-input" type="text" name="secondName" placeholder="Second name">
        <input class="registration-input" type="text" name="email" placeholder="Email">
        <input class="registration-input" type="password" name="password" placeholder="Password">
        <input class="registration-input" type="password" name="" placeholder="Confirm Password">
        <button class="registration-button" type="submit" >SignUp</button>
    </form>
</body>
</html>