<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/fragments :: html_head">

</head>

<body>
	<!--::header part start::-->
	<div th:replace="fragments/fragments :: html_header"></div>
	<!-- Header part end-->
	<!--================login_part Area =================-->
	<section class="login_part padding_top">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-8 col-md-6">
					<div class="login_part_form">
						<div class="login_part_form_iner">
							<h3>
								Welcome To Furnity To Donate Furniture! <br /> <br /> Please
								Register here
							</h3>
							<form class="row contact_form" th:object="${User}"
								th:action="@{/register}" method="post" enctype="multipart/form-data">
								<div class="col-md-12 form-group p_star">
									<input type="text" class="form-control" id="name" name="fname"
										value="" placeholder="First Nama" />
								</div>
								<div class="col-md-12 form-group p_star">
									<input type="text" class="form-control" id="name" name="lname"
										value="" placeholder="Last Name" />
								</div>
								<div class="col-md-12 form-group p_star">
									<input type="text" class="form-control" id="name" name="gender"
										value="" placeholder="Gender" />
								</div>
								<div class="col-md-12 form-group p_star">
									<input type="text" class="form-control" id="name" name="phone"
										value="" placeholder="Phone number" />
								</div>
								<div class="col-md-12 form-group p_star">
									<input type="text" class="form-control" id="name" name="email"
										value="" placeholder="Email" />
								</div>

								<div class="col-md-12 form-group p_star">
									<input type="password" class="form-control" id="password"
										name="pass" value="" placeholder="Password" />
								</div>
								<div class="col-md-12 form-group p_star">
									<input type="text" class="form-control" id="name" name="street"
										value="" placeholder="Street address" />
								</div>
								<div class="col-md-12 form-group p_star">
									<input type="text" class="form-control" id="name" name="city"
										value="" placeholder="City" />
								</div>
								<div class="col-md-12 form-group p_star">
									<input type="text" class="form-control" id="name"
										name="country" value="" placeholder="Country" />
								</div>
								<div class="col-md-12 form-group p_star">
									<input type="text" class="form-control" id="name"
										name="postalcode" value="" placeholder="Postal code" />
								</div>
								<div class="col-md-12 form-group p_star">
									<label for="furniture_photo">Upload Furniture Photo</label> <input
										type="file" class="form-control" id="furniture_photo"
										name="filename" accept="image/png, image/jpeg" />
								</div>
								<div class="col-md-12 form-group">
									<button type="submit" value="submit" class="btn_3">
										Register</button>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="text-center">
						<div class="login_part_text_iner">
							<img src="img/offer_img.png" alt="" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================login_part end =================-->

	<!--::footer_part start::-->
	<div th:replace="fragments/fragments :: html_footer"></div>
	<!--::footer_part end::-->

	<!-- jquery plugins here-->
	<!-- jquery -->
	<script src="js/jquery-1.12.1.min.js"></script>
	<!-- popper js -->
	<script src="js/popper.min.js"></script>
	<!-- bootstrap js -->
	<script src="js/bootstrap.min.js"></script>
	<!-- easing js -->
	<script src="js/jquery.magnific-popup.js"></script>
	<!-- swiper js -->
	<script src="js/swiper.min.js"></script>
	<!-- swiper js -->
	<script src="js/masonry.pkgd.js"></script>
	<!-- particles js -->
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.nice-select.min.js"></script>
	<!-- slick js -->
	<script src="js/slick.min.js"></script>
	<script src="js/jquery.counterup.min.js"></script>
	<script src="js/waypoints.min.js"></script>
	<script src="js/contact.js"></script>
	<script src="js/jquery.ajaxchimp.min.js"></script>
	<script src="js/jquery.form.js"></script>
	<script src="js/jquery.validate.min.js"></script>
	<script src="js/mail-script.js"></script>
	<script src="js/stellar.js"></script>
	<script src="js/price_rangs.js"></script>
	<!-- custom js -->
	<script src="js/custom.js"></script>
</body>
</html>
